<!DOCTYPE html>
<html>
<head>
	<meta chrset="UTF 8">
	<link rel="stylesheet" href="css/bootstrap.css"/>
</head>
<body>
<h1>Global Event Example</h1>
<script src="https://code.angularjs.org/1.6.9/angular.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/bootstrap.js"></script>
<body>
<!-- <div ng-app>
    <button ng-init="ctr=0" ng-click="ctr=ctr+2">
        Counter Button 
    </button>
    <p> {{ctr}}</p>

</div>
     -->
<div ng-app>
   <div ng-init="count=0"></div>
   <button ng-click="count =count +1">increase</button> 
   <button ng-click="count =count -1">decrease</button> 
   <p> {{count}}</p>
</div>
    
   

</body>
</html>
