<!DOCTYPE html>
<html>
<head>
	<meta chrset="UTF 8">
	<link rel="stylesheet" href="css/bootstrap.css"/>
</head>
<body>
<h1>Global Event Example</h1>
<script src="https://code.angularjs.org/1.6.9/angular.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/bootstrap.js"></script>
<body>
    <div ng-app="" ng-init="length =10 ; breadth = 6">
        Enter the details of rectangle : <input type="number" ng-model="length">

                                        <input type="number" ng-model="breadth">

                            Total Area of rectangle is : {{length*breadth}}
   </div>
   </body>
   </html>